.dijitDialogUnderlay {
     background: black;
}
body, h2 { 
    text-align: center;
    font-family:helvetica,arial,sans-serif; 
    font-size:100%; 
}
#creditsText{
    text-align: left;
}
.fileLink {
    padding-left: 20px;
}

.biggerFont {
    font-size: 12px;
}
.hidden {
    visibility: hidden;
    position:absolute;
}
